<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-promise-polyfill"
    version="0.0.2">

    <name>cordova-promise-polyfill</name>
    <description>This is a polyfill of the ES6 Promise for Cordova</description>
    <author>Ratson</author>
    <keywords>promise,polyfill,es6-promise</keywords>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/Promise.js" name="Promise">
        <runs />
    </js-module>
    <js-module src="www/promise.min.js" name="promise.min"></js-module>

    <platform name="android"></platform>
    <platform name="ios"></platform>
</plugin>
